﻿@model IEnumerable<RpvStartBotService.Models.ServiceModel>

<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Действие
            </th>
            <th>
                Удаление
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="item_@item.ServiceName">
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td id="@item.ServiceName">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (item.Status == System.ServiceProcess.ServiceControllerStatus.Running)
                    {
                        <a href="#" class="stateLink">Остановить</a>
                    }
                    else if (item.Status == System.ServiceProcess.ServiceControllerStatus.Stopped)
                    { 
                        <a href="#" class="stateLink">Запустить</a>
                    }

                </td>
                <td>
                    <a href="#" class="removeLink">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

