﻿@model IEnumerable<RpvStartBotService.Models.ServiceModel>

@{
    ViewData["Title"] = "Службы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="serviceResult">
    @await Html.PartialAsync("_ServicePartial", Model)
</div>
