﻿@model InputOptionsModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">    
    <form method="post" asp-action="Action">
        <h4>Основные настройки</h4>
        <div class="form-group">
            @Html.LabelFor(x => x.BaseApiAddress)
            @Html.TextBoxFor(x => x.BaseApiAddress, new { @class = "form-control form-control-sm" })

            @Html.LabelFor(x => x.UserLogin)
            @Html.TextBoxFor(x => x.UserLogin, new { @class = "form-control form-control-sm" })

            @Html.LabelFor(x => x.UserPassword)
            @Html.TextBoxFor(x => x.UserPassword, new { @class = "form-control form-control-sm" })

            @Html.LabelFor(x => x.Tenant)
            @Html.TextBoxFor(x => x.Tenant, new { @class = "form-control form-control-sm" })

            <h4>Telegram - Админ - настройки</h4>

            @Html.LabelFor(x => x.TelegramToken)
            @for (int i = 0; i < Model.TelegramToken.Count; i++)
            {
                @Html.TextBoxFor(x => x.TelegramToken[i], new { @class = "form-control form-control-sm" })
            }

            @Html.LabelFor(x => x.TelegramAdminToken)
            @for (int i = 0; i < Model.TelegramAdminToken.Count; i++)
            {
                @Html.TextBoxFor(x => x.TelegramAdminToken[i], new { @class = "form-control form-control-sm" })
            }

            <h4>Telegram - Клиент - настройки</h4>

            @Html.LabelFor(x => x.ClientTelegramToken)
            @for(int i = 0; i< Model.ClientTelegramToken.Count; i++)
            {
                @Html.TextBoxFor(x => x.ClientTelegramToken[i], new { @class = "form-control form-control-sm" })
            }

            <h4>Vk-настройки</h4>

            @Html.LabelFor(x => x.VkToken)
            @for (int i = 0; i < Model.VkToken.Count; i++)
            {
                @Html.TextBoxFor(x => x.VkToken[i], new { @class = "form-control form-control-sm" })
            }

            @Html.LabelFor(x => x.GroupID)
            @for (int i = 0; i < Model.GroupID.Count; i++)
            {
                @Html.TextBoxFor(x => x.GroupID[i], new { @class = "form-control form-control-sm" })
            }

            @Html.LabelFor(x => x.Currency)
            @for (int i = 0; i < Model.Currency.Count; i++)
            {
                @Html.TextBoxFor(x => x.Currency[i], new { @class = "form-control form-control-sm" })
            }

        </div>
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </form>
</div>
